Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

Uploading PDFs
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/bottom_button.xml
Due: build-android, test-android

Une requete mais elle fonctionne pas
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Upload pdf button changing
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
Due: build-android, test-android

Ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
Due: build-android, test-android

Change forbidden to bad_requests, add change password user.
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Change map to list from logsresponse.
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

commencement du fix
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/layout/fragment_graded_student.xml
  android/app/src/main/res/values/strings.xml
  server/rest/src/transaction_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Add postRequest with base request
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

linter shit.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

server: add miner models
  server/common/include/common/miner_models.hpp
Due: build-server, test-server, lint-server

Add json errors bad request
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

Class view (on click listener not implemented)
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentItem.kt
  android/app/src/main/res/drawable/ic_class_black_24dp.xml
  android/app/src/main/res/drawable/ic_picture_as_pdf_black_24dp.xml
  android/app/src/main/res/layout/fragment_course.xml
  android/app/src/main/res/layout/fragment_course_list.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

fix
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/layout/fragment_graded_student.xml
  android/app/src/main/res/layout/fragment_student.xml
  android/build.gradle
  server/rest/src/transaction_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
Due: build-android, test-android

ktlint v2
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
Due: build-android, test-android

Fix change fragment
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/res/layout/fragment_course_list.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_student.xml
  android/app/src/main/res/layout/fragment_student_list.xml
Due: build-android, test-android

start fragments
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/DetailedStudentFragment.kt
  android/app/src/main/res/layout/fragment_detailed_course.xml
  android/app/src/main/res/layout/fragment_detailed_student.xml
  android/app/src/main/res/layout/fragment_student.xml
Due: build-android, test-android

partay avec -1
  server/common/include/common/base64.hpp
Due: build-server, test-server, lint-server

toto
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Student results fragment
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/DetailedStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentResultsRecyclerViewAdapter.kt
  android/app/src/main/res/layout/fragment_course_list.xml
  android/app/src/main/res/layout/fragment_detailed_student.xml
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/layout/fragment_student_result.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

tidy
  server/common/include/common/base64.hpp
  server/common/include/common/database.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/rest/src/transaction_controller.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Finish course recycler view students
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseResultsRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentResultsRecyclerViewAdapter.kt
  android/app/src/main/res/layout/fragment_course_result.xml
  android/app/src/main/res/layout/fragment_detailed_course.xml
Due: build-android, test-android

server: gros commit sale
  server/cmake/third_party.cmake
  server/common/include/common/message_helper.hpp
  server/common/include/common/miner_models.hpp
  server/lint.sh
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
  server/tests/CMakeLists.txt
  server/tests/zmq_test.cpp
Due: build-server, test-server, lint-server

fix a bit
  server/.clang-tidy
  server/.vscode/settings.json
  server/cmake/third_party.cmake
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

partay
  server/.clang-tidy
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

Add request logic
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/DetailedStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_detailed_course.xml
Due: build-android, test-android

FIx lint.
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

fix lint
  server/.clang-tidy
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

commit
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

change to unique
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix
  server/.clang-tidy
  server/common/src/logger.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

marche sur la tablette
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/values/strings.xml
  server/rest/rest.cpp
Due: build-server, build-android, test-server, test-android, lint-server

tmp
  desktop/src/main/java/controllers/LogsViewer.java
  server/common/include/common/format_helper.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

fix a few async stuff
  desktop/src/main/java/Main.java
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/values/strings.json
  server/common/src/database.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

server: small fixes
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

server: remove infinite loop in test
  server/tests/zmq_test.cpp
Due: build-server, test-server, lint-server

final android
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/Login.fxml
Due: build-desktop, test-desktop

omg ca fonctionne enfin
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeViewModel.kt
  android/app/src/main/res/drawable/rounded_corners.xml
  android/app/src/main/res/layout/activity_side_panel.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

ktlint:
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
Due: build-android, test-android

Correct json format for info/cours
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  server/common/include/common/models.hpp
  server/rest/src/info_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
