Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

server: add cmake test target for generating test-blockchain.db
  server/CMakeLists.txt
  server/build.sh
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

ci: run script linting on all *.sh properly
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server: update usage for createDb.sh
  server/sql/createDb.sh
Due: build-server, test-server, lint-server

server: remove clang "performance-unnecessary-value-param" ignore
  server/.clang-tidy
Due: build-server, test-server, lint-server

ci: run server tests using ninja target
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server: add a const qualifier
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
Due: build-server, test-server, lint-server

server/miner: move JSON serialisation out of header files
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

server: remove BlockPtr and BlockChainUPtr
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/block_test.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

bring back snake case!
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/layout/fragment_search.xml
Due: build-android, test-android

Ready for merge'
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
Due: build-android, test-android

Ajout du suivi3
  suivi/rapport_semaine3.docx
Due: none

server/miner: cleanup mining loop
  server/miner/src/block.cpp
Due: build-server, test-server, lint-server

server/miner: return blockchain in an optional value
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

server/miner: return optional value when creating block
  server/miner/include/miner/block.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/block_test.cpp
Due: build-server, test-server, lint-server

Remove the use of shared pointers
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

server/miner: add blockchain lastBlockID() method
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

Ajout IP poly et modifs creation certification
  android/app/build.gradle
  server/cert/.crt
  server/cert/.csr
  server/cert/.key
  server/cert/createCert.sh
  server/common/include/common/firebase_helper.hpp
  server/server.csr
  server/server.key
Due: build-server, build-android, test-server, test-android, lint-server

server: ignore .ccls-cache from source files
  server/common/CMakeLists.txt
  server/miner/CMakeLists.txt
  server/rest/CMakeLists.txt
Due: build-server, test-server, lint-server

Fixed PR comments
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/fragment_student_list.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Connect to server
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
Due: build-android, test-android

Added consts
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
Due: build-android, test-android

Start token manager for auth.
  server/cert/createCert.sh
  server/cmake/third_party.cmake
  server/common/include/common/firebase_helper.hpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/token_manager.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

Refresh token works and requests for login are good.
  server/rest/include/rest/token_manager.hpp
  server/rest/rest.cpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
  server/sql/createDb.sql
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Delete unused vars
  server/rest/include/rest/token_manager.hpp
  server/rest/src/token_manager.cpp
Due: build-server, test-server, lint-server

Add register handle and correct statement step logic.
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/rest/include/rest/token_manager.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Complete logout handle.
  server/rest/include/rest/token_manager.hpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Change constructor for tokenmanager
  server/rest/include/rest/token_manager.hpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Changed student format to fit with API
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/fragment_student.xml
Due: build-android, test-android

fix router to user methods instead of static functions
  server/rest/src/admin_controller.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

fin dune version simple de logs
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/file_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

server: allow lint.sh to run on specific files
  server/lint.sh
Due: build-server, test-server, lint-server

server/miner: some small fixes
  server/common/include/common/optional.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

add database to real code
  server/.gitignore
  server/.vscode/c_cpp_properties.json
  server/.vscode/launch.json
  server/.vscode/settings.json
  server/.vscode/tasks.json
  server/build.sh
  server/cert/createCert.sh
  server/cert/rootCA.srl
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/common/src/database.cpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

server/miner: add precision to metadata names
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

server: multithread lint.sh
  server/lint.sh
Due: build-server, test-server, lint-server

Student list working, can add default students
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterViewModel.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/drawable/ic_add_black_24dp.xml
  android/app/src/main/res/layout/fragment_gradedstudent.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/layout/fragment_register_list.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Create GsonRequest class, credentials object for token and according logic.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/Modules.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

working version creating ip address and certificate if its missing
  server/.vscode/settings.json
  server/CMakeLists.txt
  server/build.sh
  server/cert/createCert.sh
  server/cert/rootCA.srl
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/common/include/common/database.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/miner/miner.cpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/main_controller.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/main_controller.cpp
  server/server.csr
  server/server.key
  server/sql/createDb.sql
  server/tests/CMakeLists.txt
Due: build-server, test-server, lint-server

Correct minor stuff.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

change db path to flags
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/rest/rest.cpp
Due: build-server, test-server, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
