Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

checkForExistingClass
  server/common/include/common/database.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

deleteExistingClass
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Changed account types to models
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/services/AccountTypes.kt
Due: build-android, test-android

Pas tout le monde en edition
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
Due: build-android, test-android

addNewResult
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

fixes
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

getStudentResult
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

corrections
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_detailed_course.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

sagesse
  server/miner/src/zmq.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Test student list
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

the fragment is dead
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_register_list.xml
Due: build-android, test-android

New line
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_register_list.xml
Due: build-android, test-android

fix get etudiants et courses
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

fixes
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Changed fragment name
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/res/layout/fragment_register_list.xml
Due: build-android, test-android

tmp
  server/common/include/common/database_models.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
  server/rest/src/ping_controller.cpp
Due: build-server, test-server, lint-server

build
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

finish view and modify db
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/DetailedStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentResultsRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

partay
  server/common/include/common/database_models.hpp
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, test-server, lint-server

fix ui and delete old code
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseResultsRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/DetailedStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/StudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_detailed_student.xml
Due: build-android, test-android

transaction working
  server/common/include/common/database_models.hpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Debouncer
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
  android/app/src/main/res/layout/fragment_get_course_info.xml
Due: build-android, test-android

renamed to debounce lol
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
Due: build-android, test-android

commit
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

crlf
  server/rest/src/ping_controller.cpp
Due: build-server, test-server, lint-server

Mdp se reset après resetÈ
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

ca marche avec miner et app android
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
Due: build-server, test-server, lint-server

change this
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

catch all timeout errors
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

Added missing debounces
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
Due: build-android, test-android

max number of characters for grade
  android/app/src/main/res/layout/add_student_bottom_panel.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
Due: build-android, test-android

server: minage tabarnak
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
  server/tests/CMakeLists.txt
  server/tests/zmq_test.cpp
Due: build-server, test-server, lint-server

Classe -> cours
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
Due: build-android, test-android

New home color
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/res/drawable/rounded_corners.xml
Due: build-android, test-android

push
  server/common/include/common/token_helper.hpp
  server/miner/miner.cpp
  server/miner/src/blockchain.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Changed home color
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/res/drawable/rounded_corners.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/values/colors.xml
Due: build-android, test-android

soft keyboard:
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/res/layout/activity_main.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

utils
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
Due: build-android, test-android

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
