Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

remove app
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/resources/views/application.fxml
Due: build-desktop, test-desktop

dang it un autre idea
  android/.idea/codeStyles/Project.xml
Due: build-android, test-android

linter
  android/app/src/main/java/com/example/androidapp/ui/SidePanelActivity.kt
Due: build-android, test-android

Add statement class and modifiy query class to return sql data instead of callbacks.
  server/.clang-tidy
  server/common/include/common/database.hpp
  server/common/include/common/query.hpp
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/query.cpp
  server/common/src/statement.cpp
  server/database.sh
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Add eol to statement files.
  server/common/include/common/statement.hpp
  server/common/src/statement.cpp
Due: build-server, test-server, lint-server

Fix tests for google format and add test db file.
  server/.clang-tidy
  server/build.sh
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/database.sh
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Fix clang format and tidy.
  server/.clang-tidy
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

lol
  server/common/src/sqlite_err.cpp
Due: build-server, test-server, lint-server

Add sqlite as external project.
  server/CMakeLists.txt
  server/cmake/FindSQLite3.cmake
  server/cmake/third_party.cmake
  server/common/CMakeLists.txt
  server/common/src/database.cpp
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

working version with everything
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeViewModel.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterViewModel.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchViewModel.kt
  android/app/src/main/java/com/example/androidapp/services/HTTPRestClient.kt
  android/app/src/main/java/com/example/androidapp/services/Modules.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/MainController.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/app_bar_side_panel.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  server/cert/createCert.sh
  server/cert/server.crt
  server/cert/server.csr
  server/cert/server.key
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

remove the findviewbyid with kotlin built in structure
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_side_panel.xml
  android/app/src/main/res/layout/app_bar_side_panel.xml
  android/app/src/main/res/layout/content_side_panel.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/nav_header_side_panel.xml
Due: build-android, test-android

Modifs selon commentaires Francis.
  server/build.sh
  server/common/include/common/database.hpp
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/createDb.sh
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

Suite correction commentaires francis.
  server/.clang-tidy
  server/CMakeLists.txt
  server/common/include/common/database.hpp
  server/common/include/common/query.hpp
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

run lint
  android/app/src/main/java/com/example/androidapp/App.kt
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Clang fixes.
  server/build.sh
  server/common/include/common/database.hpp
  server/common/include/common/query.hpp
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/query.cpp
  server/common/src/statement.cpp
Due: build-server, test-server, lint-server

Switched pointer to shared_ptr for db
  server/common/include/common/database.hpp
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
Due: build-server, test-server, lint-server

Correct cmake test library links.
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/query.cpp
  server/common/src/statement.cpp
  server/tests/CMakeLists.txt
Due: build-server, test-server, lint-server

Add db to git ignore files.
  server/.gitignore
Due: build-server, test-server, lint-server

Update gradle to 3.5.1
  android/build.gradle
Due: build-android, test-android

Update dependencies
  android/app/build.gradle
Due: build-android, test-android

Refactor some of the API
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

server: fix some linting issues
  server/miner/src/block.cpp
  server/tests/blockchain_test.cpp
  server/tests/utils.cpp
Due: build-server, test-server, lint-server

ci: use ninja to run server tests
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

fix a few stuff to make it more modern c++
  .gitlab-ci.yml
  docker/Dockerfile
  server/.clang-tidy
  server/build.sh
  server/common/include/common/database.hpp
  server/common/include/common/gflags_helper.hpp
  server/common/include/common/query.hpp
  server/common/src/database.cpp
  server/common/src/query.cpp
  server/common/src/statement.cpp
  server/miner/miner.cpp
  server/rest/rest.cpp
  server/rest/src/main_controller.cpp
  server/sql/createDb.sh
  server/tests/CMakeLists.txt
  server/tests/database_test.cpp
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

add gitlab test for cpp
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server/miner: add test when saving the blockchain
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
  server/tests/utils.cpp
  server/tests/utils.hpp
Due: build-server, test-server, lint-server

server/tests: use some more const qualifiers
  server/tests/utils.cpp
  server/tests/utils.hpp
Due: build-server, test-server, lint-server

server/miner: save metadata file
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
  server/tests/utils.cpp
Due: build-server, test-server, lint-server

fix tests gitlab
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

Removed fav star bcs no time
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
  android/app/src/main/res/layout/fragment_student.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/ui/fragments/home/HomeViewModel.kt
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/MyStudentRecyclerViewAdapter.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/app_bar_side_panel.xml
  android/app/src/main/res/layout/content_side_panel.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/layout/fragment_student.xml
  android/app/src/main/res/menu/toolbar.xml
  android/app/src/main/res/values/dimens.xml
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/ui/fragments/search/student/StudentItem.kt
Due: build-android, test-android

server/miner: don't throw exception when creating block from file
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/block_test.cpp
Due: build-server, test-server, lint-server

change to single not factory
  android/app/src/main/java/com/example/androidapp/services/Modules.kt
Due: build-android, test-android

add todo
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

server/miner: don't throw exception when creating blockchain from directory
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
  server/tests/data/blockchain/load-from-dir/420
  server/tests/data/blockchain/load-from-dir/metadata
Due: build-server, test-server, lint-server

ci: add shellcheck lint stage
  .gitlab-ci.yml
  server/build.sh
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

ci: run shellcheck 3 level deep
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server: make various scripts shellcheck compliant
  server/build.sh
  server/cert/createCert.sh
  server/sql/createDb.sh
Due: build-server, test-server, lint-server

server: enable testing in build files
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
