Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

Fixes
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Ajout register
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/token_helper.hpp
  server/rest/src/custom_router.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Fix android errors.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Fix deprecated material version
  android/app/build.gradle
Due: build-android, test-android

Fix deprecated material version
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
Due: build-android, test-android

Fix logout side button
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/menu/side_panel.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Due: build-android, test-android

Fix merge errors with master
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/cmake/third_party.cmake
  server/common/src/database.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

fix lint
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

Token creation on first login or register.
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
Due: build-server, build-android, test-server, test-android, lint-server

ca marche putin
  server/common/src/database.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Add settings fragment.
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsViewModel.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_settings.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/menu/side_panel.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

la c'est winner
  server/common/include/common/database.hpp
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

test
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
Due: build-android, test-android

No init credentials in restservice.
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

lint
  server/common/src/database.cpp
  server/rest/rest.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

eth0
  server/common/include/common/firebase_helper.hpp
Due: build-server, test-server, lint-server

Modify settings fragment layout
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_settings.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Switch apply to commit for preferences.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
Due: build-android, test-android

server/miner: replace JSON operator[] with at()
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

Finish settings fragment.
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/fragment_settings.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Add placeholders to login.
  desktop/src/main/resources/views/Login.fxml
Due: build-desktop, test-desktop

Add login request and error dialog.
  desktop/config/checkstyle/checkstyle.xml
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/LoginRequest.java
  desktop/src/main/java/models/LoginResponse.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/Login.fxml
Due: build-desktop, test-desktop

Change decode function to optional<std::string>
  server/common/include/common/token_helper.hpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

Merge fixes.
  server/common/include/common/scripts_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/rest/CMakeLists.txt
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Correct lint.
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Add credentials manager.
  desktop/build.gradle
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/LoginRequest.java
  desktop/src/main/java/services/CredentialsManager.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Final fixes.
  server/common/include/common/statement.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/rest/CMakeLists.txt
  server/rest/src/custom_router.cpp
  server/server.csr
  server/server.key
  server/sql/addUsers.sql
  server/sql/createDb.sh
Due: build-server, test-server, lint-server

Revert statement class.
  server/common/include/common/statement.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
Due: build-server, test-server, lint-server

split des query en fonction
  server/common/include/common/database.hpp
  server/common/include/common/firebase_helper.hpp
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/sql/createDb.sql
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

miew
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

make it work with register and login seperatly
  server/.vscode/settings.json
  server/common/CMakeLists.txt
  server/common/include/common/database.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/common/src/statement.cpp
  server/miner/src/block.cpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/ping_controller.hpp
  server/rest/src/custom_router.cpp
  server/rest/src/example_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/user_controller.cpp
  server/server.csr
  server/server.key
  server/sql/addUsers.sql
  server/sql/createDb.sh
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

oupsi
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

add salt to db login
  server/common/include/common/database.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/rest/src/user_controller.cpp
  server/sql/createDb.sql
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

fix replace
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

linter
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Login auth works.
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/LoginResponse.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Add logout and change password requests and classes.
  desktop/src/main/java/models/PasswordRequest.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/Login.fxml
Due: build-desktop, test-desktop

Add style to login page.
  desktop/src/main/java/Main.java
  desktop/src/main/resources/images/classbook.png
  desktop/src/main/resources/styles/buttonStyle.css
  desktop/src/main/resources/views/Login.fxml
Due: build-desktop, test-desktop

Add logout and change password function.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Fix lint errors.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
