Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

building version adding logs to db
  server/common/include/common/database.hpp
  server/common/include/common/example.hpp
  server/common/include/common/format_helper.hpp
  server/common/src/database.cpp
  server/common/src/example.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/file_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/custom_router.cpp
  server/sql/createDb.sql
  server/tests/CMakeLists.txt
  server/tests/example_test.cpp
Due: build-server, test-server, lint-server

tmp not working version
  server/common/include/common/database.hpp
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/main_controller.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

make work log async
  server/.vscode/launch.json
  server/common/include/common/firebase_helper.hpp
  server/common/src/database.cpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

working version off logs with db and singleton
  server/common/include/common/database.hpp
  server/common/include/common/logger.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/src/custom_router.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

adding more singletonness power
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

add severity level into singleton and make it nice with app
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

server: change optional_ref namespace
  server/common/include/common/optional_ref.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

apply gitignore
  server/.gitignore
  server/build.sh
  server/common/CMakeLists.txt
  server/lint.sh
  server/rest/CMakeLists.txt
  server/server.key
  server/sql/createDb.sh
  server/tests/CMakeLists.txt
Due: build-server, test-server, lint-server

forgot one file
  server/.gitignore
  server/server.csr
Due: build-server, test-server, lint-server

try fix perm
  server/sql/createDb.sh
Due: build-server, test-server, lint-server

server/miner: small fixes
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

remove srl file
  server/.gitignore
  server/cert/rootCA.srl
Due: build-server, test-server, lint-server

remove srl from cmake
  server/rest/CMakeLists.txt
Due: build-server, test-server, lint-server

ajout des tables de cours et d'étudiant pour la BD
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

add base 64 converter
  server/common/include/common/base64.hpp
Due: build-server, test-server, lint-server

modif models to not break
  server/common/include/common/models.hpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

ajout du check et insert dans db
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

change perm on sh files
  server/build.sh
  server/cert/createCert.sh
  server/lint.sh
  server/sql/createDb.sh
Due: build-server, test-server, lint-server

Switch to token helper.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/token_helper.hpp
  server/rest/include/rest/token_manager.hpp
Due: build-server, build-android, test-server, test-android, lint-server

Add hashed password.
  server/cmake/third_party.cmake
  server/common/include/common/database.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/rest/include/rest/token_manager.hpp
  server/rest/src/token_manager.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

working version of adding and getting file!
  server/common/include/common/format_helper.hpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/custom_router.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Change singleton in android token, add basic user ot db init.
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/Modules.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/rest/include/rest/user_controller.hpp
  server/rest/src/user_controller.cpp
  server/sql/createDb.sql
Due: build-server, build-android, test-server, test-android, lint-server

Modify sql files
  server/sql/addUsers.sql
  server/sql/createDb.sh
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

fix
  server/common/src/database.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

MOdif token
  server/common/include/common/token_helper.hpp
Due: build-server, test-server, lint-server

wifi
  server/common/include/common/firebase_helper.hpp
Due: build-server, test-server, lint-server

fix all linting problems
  .gitlab-ci.yml
  server/.clang-tidy
  server/common/include/common/base64.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/query.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/common/src/statement.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/example_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

Add token management to callback
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/include/common/token_helper.hpp
  server/rest/include/rest/custom_router.hpp
  server/rest/src/custom_router.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Correct sqlite3 test.
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Fix commentaires Francis
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  server/cert/.crt
  server/cert/.csr
  server/cert/.key
  server/common/include/common/database.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/rest/CMakeLists.txt
  server/rest/src/custom_router.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Ajout suivi4
  suivi/rapport_semaine4.docx
Due: none

fix code
  server/common/include/common/database.hpp
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

Revert "Merge branch 'camarois/suivi4' into 'master'"
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/services/CredentialsManager.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/Modules.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/build.gradle
  server/cmake/third_party.cmake
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/statement.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/custom_router.cpp
  server/rest/src/user_controller.cpp
  server/server.csr
  server/server.key
  server/sql/addUsers.sql
  server/sql/createDb.sh
  server/sql/createDb.sql
  server/tests/database_test.cpp
  suivi/rapport_semaine4.docx
Due: build-server, build-android, test-server, test-android, lint-server

force c_str
  server/common/include/common/query.hpp
Due: build-server, test-server, lint-server

remove &&
  server/common/include/common/query.hpp
Due: build-server, test-server, lint-server

add create db to code
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/rest/CMakeLists.txt
Due: build-server, test-server, lint-server

Add suivi4
  suivi/rapport_semaine4.docx
Due: none

autre affaire
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

test mais ca marche pas
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Add default constructor for database and take out flags elsewhere.
  server/common/include/common/database.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/miner.cpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
