Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

build-server:
  stage: build
  script:
  - ./build.sh
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build/ && ninja test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-scripts:
  stage: lint
  script:
  - echo "Running shellcheck on the following files:"
  - find . -maxdepth 3 -type f -iname "*.sh"
  - bash -c 'shellcheck --color=always $(find . -maxdepth 3 -type f -iname "*.sh")'

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh --tidy && ./lint.sh --format

delete junk
  .idea/workspace.xml
Due: none

fix order of logs.
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

Add getLog request logic server side.
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, test-server, lint-server

fix comments. add setprovenance.
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/miner.cpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

tete
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

db
  server/common/include/common/database.hpp
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

db
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, test-server, lint-server

verify within 3 miners and add field to know verified by how many miners
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/miner.cpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

delete
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

server side
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

desktop
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/AllUsersRequest.java
  desktop/src/main/java/models/CreateUserRequest.java
  desktop/src/main/java/models/DeleteUserRequest.java
  desktop/src/main/java/models/User.java
  desktop/src/main/resources/values/strings.json
Due: build-desktop, test-desktop

tmp version, trying to sync multiple miners
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

prepare to merge, brace yourselves peeps
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

set provenance properly
  server/miner/CMakeLists.txt
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

tmp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

change break before else and catch
  server/.clang-format
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/user_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

added genesys block
  server/common/include/common/database.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

new desktop ui
  desktop/src/main/java/controllers/ChangePasswordController.java
  desktop/src/main/java/controllers/CreateUserController.java
  desktop/src/main/java/controllers/DeleteUserController.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/RegisterResponse.java
  desktop/src/main/resources/styles/buttonStyle.css
  desktop/src/main/resources/views/CreateUserTab.fxml
  desktop/src/main/resources/views/DeleteUsersTab.fxml
Due: build-desktop, test-desktop

lint format
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, test-server, lint-server

improve delete
  desktop/src/main/resources/views/DeleteUsersTab.fxml
Due: build-desktop, test-desktop

ci: reactivate ARM build
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

server: manually specify curl's path on ARMv7 build
  server/cmake/armv7_setup.cmake
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

server: remove commented code
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

server: fix ARMv7 build
  server/CMakeLists.txt
  server/cmake/armv7_setup.cmake
  server/cmake/armv7_toolchain.cmake
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

server: install magic_enum simply by copying the header
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

server: use custom cross-toolchain based on GCC 9.2.0
  server/cmake/armv7_setup.cmake
Due: build-server, test-server, lint-server

server: change ZedBoard sysroot mirror
  server/cmake/armv7_setup.cmake
Due: build-server, test-server, lint-server

server: add cmake install target
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

ortho
  desktop/src/main/java/controllers/ChangePasswordController.java
  desktop/src/main/java/controllers/CreateUserController.java
Due: build-desktop, test-desktop

s
  desktop/src/main/resources/views/DeleteUsersTab.fxml
Due: build-desktop, test-desktop

send number of verifications with zmq
  server/common/include/common/miner_models.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

miners logs.
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

server: execute script from either local or system directories
  server/common/include/common/scripts_helper.hpp
Due: build-server, test-server, lint-server

server: add execute permissions on installed binaries
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

server: update binaries' permissions
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

server: add execute permissions on installed scripts
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

tmp with gab
  server/miner/src/block.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

server: add systemd service units
  server/CMakeLists.txt
  server/systemd/inf3995-miner.service
  server/systemd/inf3995-rest.service
Due: build-server, test-server, lint-server

server: use shaft.quebec as a download server
  server/cmake/armv7_setup.cmake
Due: build-server, test-server, lint-server

server: add a useless newline to trigger pipeline
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-scripts: any of: **/*.sh, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
