Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

fix a few stuff, remove comments
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

f
  desktop/src/main/java/models/NewUserRequest.java
  server/rest/src/admin_controller.cpp
  server/sql/createDb.sql
Due: build-server, build-desktop, test-server, test-desktop, lint-server

Switch err cout to logger.
  .idea/workspace.xml
  server/miner/miner.cpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

Change source
  server/miner/miner.cpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

creation compte fonctionnel
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/CreateUserRequest.java
  desktop/src/main/java/models/NewUserRequest.java
  desktop/src/main/resources/values/strings.json
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

supression et creation de compte d'admin
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/CreateUserRequest.java
  desktop/src/main/java/models/DeleteUserRequest.java
Due: build-desktop, test-desktop

requete done
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/User.java
  desktop/src/main/resources/values/strings.json
  server/.vscode/settings.json
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/src/database.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

manque juste le utf8
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/AllUsersRequest.java
  desktop/src/main/java/models/CreateUserRequest.java
  server/common/include/common/database_models.hpp
  server/common/src/database.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

lint
  desktop/src/main/java/controllers/LoginController.java
Due: build-desktop, test-desktop

lint format
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

lint
  server/common/include/common/database_models.hpp
Due: build-server, test-server, lint-server

fix
  desktop/src/main/java/controllers/LoginController.java
Due: build-desktop, test-desktop

francais
  desktop/src/main/java/controllers/LoginController.java
Due: build-desktop, test-desktop

cleanup et encodage et oui
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/User.java
Due: build-desktop, test-desktop

toto
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/User.java
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

tmp with enum magic
  server/cmake/third_party.cmake
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

make magic enum work in logger
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
Due: build-server, test-server, lint-server

t
  server/.idea/workspace.xml
  server/common/include/common/logger.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

t
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

m
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/miner.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/ping_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/include/rest/zmq.hpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix build
  server/build.sh
Due: build-server, test-server, lint-server

add build.sh to build
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

fix tidy
  server/common/include/common/database.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/miner_models.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix format
  server/common/src/logger.cpp
  server/miner/miner.cpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

also add the build .sh modif
  server/build.sh
Due: build-server, test-server, lint-server

also add the build .sh modif
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

db
  server/common/include/common/database.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

server: fix lint.sh return code with --tidy option
  server/lint.sh
Due: build-server, test-server, lint-server

server: only lint miner/, rest/ and common/ directories
  server/lint.sh
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

server: fix ARMv7 build
  server/CMakeLists.txt
  server/cmake/armv7_setup.cmake
  server/cmake/armv7_toolchain.cmake
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

ci: reactivate ARM build
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

server: remove commented code
  server/CMakeLists.txt
Due: build-server, test-server, lint-server

server: manually specify curl's path on ARMv7 build
  server/cmake/armv7_setup.cmake
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server

rapport semaine 7
  suivi/rapport_semaine7.docx
Due: none

name miners and correct logs.
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/miner.cpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix empty get request
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

Correct all cout, cerr.
  server/miner/miner.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
