Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build/libcppjwt/**/*
        - server/build/libcppzmq/**/*
        - server/build/libcurlpp/**/*
        - server/build/libgflags/**/*
        - server/build/libgtest/**/*
        - server/build/libjson/**/*
        - server/build/libpicosha2/**/*
        - server/build/libpistache/**/*
        - server/build/libsqlite3/**/*
        - server/build/libstduuid/**/*
        - server/build/libzmq/**/*

################
# Build Stages #
################

build-server:
    stage: build
    script:
        - ./build.sh
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - server/build

#build-server:armv7:
#    stage: build
#    before_script:
#        - mkdir -p server/build
#    script:
#        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
#    only:
#        changes:
#            - server/**/*
#            - .gitlab-ci.yml
#    artifacts:
#        paths:
#            - server/build/miner/miner
#            - server/build/rest/rest
#    allow_failure: true

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - desktop/build

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - android/build

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server/build/ && ninja test
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-server

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-desktop

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-android

###############
# Lint Stages #
###############

lint-scripts:
    stage: lint
    script:
        - echo "Running shellcheck on the following files:"
        - find . -maxdepth 3 -type f -iname "*.sh"
        - bash -c 'shellcheck --color=always $(find . -maxdepth 3 -type f -iname "*.sh")'
    only:
        changes:
            - "**/*.sh"
            - .gitlab-ci.yml

lint-server:
    stage: lint
    script:
        - cd server && ./lint.sh --tidy && ./lint.sh --format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

correct.
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

toto
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

fix pr
  desktop/src/main/java/controllers/ChangePasswordController.java
  desktop/src/main/java/controllers/CreateUserController.java
  desktop/src/main/java/controllers/DeleteUserController.java
Due: build-desktop, test-desktop

a
  server/build.sh
Due: build-server, test-server, lint-scripts, lint-server

fix merge
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

gg
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

fix logs view.
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/DeleteUsersTab.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

continue
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

No more landscape mode
  android/app/src/main/AndroidManifest.xml
Due: build-android, test-android

rearrange tableview.
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogsViewer.fxml
  server/common/src/database.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

make sure to send salt to the right db, since the salt is random
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

salt not working yet but at least ids start at -1 if not found
  server/common/include/common/database.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

this seems to be working well, missing miner id on kill and revive
  server/common/include/common/format_helper.hpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

send self id to server to identify previously identifier miners
  server/common/include/common/database.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

fix format
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

set unsigned int to be int...
  server/common/include/common/database.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

fix tidy
  server/common/include/common/format_helper.hpp
  server/common/include/common/logger.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/src/zmq.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix my issues
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/rest.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix tidy...
  server/.clang-tidy
  server/common/include/common/format_helper.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix format...
  server/common/src/logger.cpp
Due: build-server, test-server, lint-server

server: execute script from either local or system directories
  server/common/include/common/scripts_helper.hpp
Due: build-server, test-server, lint-server

server: add Archlinux PKGBUILD file
  server/.gitignore
  server/package/PKGBUILD
Due: build-server, test-server, lint-server

ci: add packaging stage
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

ci: add packaging docker image
  docker/Dockerfile.package
  docker/build.sh
Due: lint-scripts

server: create package from master branch
  server/package/PKGBUILD
Due: build-server, test-server, lint-server

ci: build package only on master
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

server: remove duplicate script variable
  server/common/include/common/scripts_helper.hpp
Due: build-server, test-server, lint-server

ci: add basic deploy stage
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-scripts, lint-server

server/miner: add get blocks request
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

witch to async.
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

lint
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

fix password
  desktop/src/main/java/controllers/ChangePasswordController.java
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

Input validation v2
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

fix logs
  server/common/include/common/miner_models.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

server: compile tested get blocks request
  server/common/include/common/miner_models.hpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

toto
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/resources/logs.txt
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

fix lol
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

toto
  desktop/src/main/java/controllers/ChainViewerController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/Bloc.java
  desktop/src/main/java/models/ChainResponse.java
  desktop/src/main/resources/views/ChainViewer.fxml
Due: build-desktop, test-desktop

server: build ARMv7 with static libstdc++
  server/cmake/armv7_toolchain.cmake
Due: build-server, test-server, lint-server
