Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build/libcppzmq/**/*
        - server/build/libcurlpp/**/*
        - server/build/libgflags/**/*
        - server/build/libgtest/**/*
        - server/build/libjson/**/*
        - server/build/libpistache/**/*
        - server/build/libzmq/**/*

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - server/build

#build-server:armv7:
#    stage: build
#    before_script:
#        - mkdir -p server/build
#    script:
#        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
#    only:
#        changes:
#            - server/**/*
#            - .gitlab-ci.yml
#    artifacts:
#        paths:
#            - server/build/miner/miner
#            - server/build/rest/rest
#    allow_failure: true

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - desktop/build

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - android/build

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server/build && make test
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-server

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-desktop

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-android

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

add flags
  server/miner/miner.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

change to rest.db
  server/rest/rest.cpp
Due: build-server, test-server, lint-server

ktlint
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
Due: build-android, test-android

whoops forgot a bracket
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

crime de ktlint
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

port change
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  desktop/src/main/java/services/RestService.java
  server/rest/rest.cpp
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

fix
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

add progress bars and default timeout
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

oups
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

oups2
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
Due: build-android, test-android

oups3
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
Due: build-android, test-android

oups4
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
Due: build-android, test-android

oups6
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
Due: build-android, test-android

oups7
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
Due: build-android, test-android

oups8
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

timeout
  server/common/src/database.cpp
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

oups8
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
Due: build-android, test-android

remove timeout
  server/rest/src/custom_router.cpp
Due: build-server, test-server, lint-server

server: ça lint presque esti
  server/common/include/common/base64.hpp
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/firebase_helper.hpp
  server/common/include/common/format_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/include/miner/blockchain-controller.hpp
  server/miner/include/miner/zmq.hpp
  server/miner/miner.cpp
  server/miner/src/blockchain-controller.cpp
  server/miner/src/blockchain.cpp
  server/miner/src/example.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/file_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/ping_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/file_controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Handling timeout everywhere
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
Due: build-android, test-android

what is going onnn
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

fix lint
  desktop/config/checkstyle/checkstyle.xml
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/services/RestService.java
  server/common/include/common/database_models.hpp
  server/common/include/common/miner_models.hpp
  server/miner/src/blockchain-controller.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

ajout suivi6
  suivi/rapport_semaine6.docx
Due: none

Extracted string resources
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/java/com/example/androidapp/services/Utils.kt
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

tmp with enum magic
  server/cmake/third_party.cmake
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

fix lint finaly
  server/common/include/common/miner_models.hpp
Due: build-server, test-server, lint-server

make magic enum work in logger
  server/common/include/common/logger.hpp
  server/common/src/logger.cpp
Due: build-server, test-server, lint-server

add enum to models
  server/common/include/common/database.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

change db to use functions instead of ugly switch case
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/miner/src/zmq.cpp
Due: build-server, test-server, lint-server

make singleton with zmq workker
  server/common/include/common/database.hpp
  server/common/include/common/database_models.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/miner.cpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/include/rest/info_controller.hpp
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/ping_controller.hpp
  server/rest/include/rest/transaction_controller.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/include/rest/zmq.hpp
  server/rest/rest.cpp
  server/rest/src/admin_controller.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/rest/src/user_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

fix format
  server/common/src/logger.cpp
  server/miner/miner.cpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

fix tidy
  server/common/include/common/database.hpp
  server/common/include/common/logger.hpp
  server/common/include/common/miner_models.hpp
  server/common/include/common/scripts_helper.hpp
  server/common/src/database.cpp
  server/common/src/logger.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/custom_router.hpp
  server/rest/rest.cpp
  server/rest/src/custom_router.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

Removed generated comments
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/SearchCourseFragment.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
Due: build-android, test-android

fix build
  server/build.sh
Due: build-server, test-server, lint-server

add build.sh to build
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

also add the build .sh modif
  server/build.sh
Due: build-server, test-server, lint-server

also add the build .sh modif
  server/cmake/third_party.cmake
Due: build-server, test-server, lint-server
