Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

ci: update server cache directories
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

ci: don't use build.sh
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

Remis le gradedstudent en une colonne
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/res/layout/fragment_graded_student.xml
Due: build-android, test-android

change layout course view
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseResultsRecyclerViewAdapter.kt
  android/app/src/main/res/layout/fragment_course_result.xml
  android/app/src/main/res/layout/fragment_detailed_course.xml
  android/app/src/main/res/layout/fragment_detailed_student.xml
Due: build-android, test-android

Fixed asking for permissions
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
Due: build-android, test-android

fix lint
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/miner/src/blockchain.cpp
  server/rest/src/info_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

ca marche base 64 encode
  server/.vscode/settings.json
  server/common/include/common/base64.hpp
  server/rest/src/file_controller.cpp
Due: build-server, test-server, lint-server

les changements
  server/common/include/common/database.hpp
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

join
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

lint format
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

fix name
  server/common/include/common/base64.hpp
  server/rest/src/file_controller.cpp
Due: build-server, test-server, lint-server

first
  server/.vscode/settings.json
  server/common/include/common/database.hpp
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
Due: build-server, test-server, lint-server

LE FRAGMENT EST PARTI ENFINFINFINFINFINFINFINF
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterStudentBottomFragment.kt
  android/app/src/main/res/layout/fragment_get_course_info.xml
  android/app/src/main/res/layout/fragment_register_list.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

cote server
  server/.vscode/settings.json
  server/common/include/common/database.hpp
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/include/rest/info_controller.hpp
  server/rest/src/info_controller.cpp
Due: build-server, test-server, lint-server

lint
  server/common/src/database.cpp
  server/rest/rest.cpp
Due: build-server, test-server, lint-server

lint
  server/common/src/database.cpp
  server/rest/rest.cpp
  server/rest/src/info_controller.cpp
Due: build-server, test-server, lint-server

ca marche avec le close des sockets
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/zmq.cpp
  server/tests/zmq_test.cpp
Due: build-server, test-server, lint-server

firx format
  server/.clang-tidy
  server/common/src/database.cpp
  server/miner/include/miner/zmq.hpp
  server/miner/src/zmq.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/rest.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

merge master
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/rest/src/info_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

oj
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
Due: build-android, test-android

ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/layout/fragment_get_course_info.xml
  android/app/src/main/res/layout/fragment_register_list.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Class trimester is int
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/res/layout/fragment_get_course_info.xml
Due: build-android, test-android

Triggering the pipeline
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
Due: build-android, test-android

Hiding menu element
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterCourseFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/nav_header_side_panel.xml
  android/app/src/main/res/menu/activity_side_panel_drawer.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

cest beau
  server/common/include/common/database.hpp
  server/common/include/common/miner_models.hpp
  server/common/src/database.cpp
  server/miner/CMakeLists.txt
  server/miner/include/miner/zmq.hpp
  server/miner/miner.cpp
  server/miner/src/zmq.cpp
  server/rest/CMakeLists.txt
  server/rest/include/rest/main_controller.hpp
  server/rest/include/rest/ping_controller.hpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/main_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/zmq.cpp
  server/tests/zmq_test.cpp
Due: build-server, test-server, lint-server

ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
Due: build-android, test-android

addUser
  server/CMakeLists.txt
  server/common/include/common/database.hpp
  server/rest/include/rest/user_controller.hpp
  server/rest/src/main_controller.cpp
  server/rest/src/ping_controller.cpp
  server/rest/src/user_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

AccoutTypes Enum
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/home/HomeFragment.kt
  android/app/src/main/java/com/example/androidapp/services/AccountTypes.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

ca marche po
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseContent.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/course/CourseItem.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/SearchStudentFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchStudent/student/StudentContent.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Finish pdf
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/CourseResultsRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/searchCourse/DetailedCourseFragment.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

setUserPassword
  server/common/include/common/database.hpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/main_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Fix lint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/services/GsonRequest.kt
  android/app/src/main/res/layout/fragment_detailed_student.xml
Due: build-android, test-android

it
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

new line
  android/app/src/main/java/com/example/androidapp/services/AccountTypes.kt
Due: build-android, test-android

containsUser
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/rest/include/rest/zmq.hpp
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
  server/rest/src/zmq.cpp
Due: build-server, test-server, lint-server

getSalt
  server/rest/src/admin_controller.cpp
  server/rest/src/user_controller.cpp
Due: build-server, test-server, lint-server

Espaces dans le nom de cours, le fragment est disparu pour toujours, matricule longueur max de 7
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GetCourseInfoFragment.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/layout/fragment_get_course_info.xml
Due: build-android, test-android

$it
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
Due: build-android, test-android

Fix mdp error
  android/app/src/main/java/com/example/androidapp/fragments/settings/SettingsFragment.kt
  android/app/src/main/res/layout/fragment_detailed_student.xml
Due: build-android, test-android

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
