Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

.gitlab-ci.yml:

image: gpol/inf3995

stages:
    - build
    - test
    - lint

cache:
    paths:
        - server/build/libcppzmq/**/*
        - server/build/libcurlpp/**/*
        - server/build/libgflags/**/*
        - server/build/libgtest/**/*
        - server/build/libjson/**/*
        - server/build/libpistache/**/*
        - server/build/libzmq/**/*

################
# Build Stages #
################

build-server:
    stage: build
    before_script:
        - mkdir -p server/build
    script:
        - cd server/build && cmake .. && make
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - server/build

#build-server:armv7:
#    stage: build
#    before_script:
#        - mkdir -p server/build
#    script:
#        - cd server/build && cmake .. -DBUILD_ARMV7=on && make
#    only:
#        changes:
#            - server/**/*
#            - .gitlab-ci.yml
#    artifacts:
#        paths:
#            - server/build/miner/miner
#            - server/build/rest/rest
#    allow_failure: true

build-desktop:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle build
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - desktop/build

build-android:
    stage: build
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle build
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    artifacts:
        paths:
            - android/build

###############
# Test Stages #
###############

test-server:
    stage: test
    script:
        - cd server/build && make test
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-server

test-desktop:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.12.0-openjdk-amd64
    script:
        - cd desktop && gradle test
    only:
        changes:
            - desktop/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-desktop

test-android:
    stage: test
    before_script:
        - update-java-alternatives --set java-1.8.0-openjdk-amd64
    script:
        - cd android && gradle test
    only:
        changes:
            - android/**/*
            - .gitlab-ci.yml
    dependencies:
        - build-android

###############
# Lint Stages #
###############

lint-server:
    stage: lint
    script:
        - cd server && ./lint.sh tidy && ./lint.sh format
    only:
        changes:
            - server/**/*
            - .gitlab-ci.yml

fix lint
  server/cmake/third_party.cmake
  server/rest/src/ping_controller.cpp
Due: build-server, test-server, lint-server

fix random generator
  server/common/include/common/format_helper.hpp
Due: build-server, test-server, lint-server

fix lint again
  server/common/include/common/format_helper.hpp
  server/rest/include/rest/main_controller.hpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Add password dialog.
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/views/TopMenuBar.fxml
Due: build-desktop, test-desktop

Fix comments.
  android/app/src/main/java/com/example/androidapp/Models.kt
  android/app/src/main/java/com/example/androidapp/services/RestRequestService.kt
  server/rest/src/user_controller.cpp
Due: build-server, build-android, test-server, test-android, lint-server

Add serialization names and delete controller singleton
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/LoginRequest.java
  desktop/src/main/java/models/LoginResponse.java
  desktop/src/main/java/models/PasswordRequest.java
  desktop/src/main/java/services/CredentialsManager.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Fix try catches
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

FIX2 PR
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/rest/src/info_controller.cpp
  server/rest/src/transaction_controller.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

linter
  server/common/src/database.cpp
Due: build-server, test-server, lint-server

Add todo and change name for executor.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

todo
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Logs model.
  desktop/src/main/java/models/LogsRequest.java
  desktop/src/main/java/models/LogsResponse.java
Due: build-desktop, test-desktop

Add chainRequest model and async methods.
  desktop/src/main/java/models/ChaineRequest.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Fix scheduled log tasks.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Add getLogs database and fix insertLog variable order.
  server/common/include/common/database.hpp
  server/common/include/common/models.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, test-server, lint-server

Add automatic log retrieval to tableview
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/ChaineRequest.java
  desktop/src/main/java/models/LoginRequest.java
  desktop/src/main/java/models/LoginResponse.java
  desktop/src/main/java/models/LogsRequest.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/models/PasswordRequest.java
  desktop/src/main/java/services/CredentialsManager.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/styles/buttonStyle.css
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

Fix log requests and timer
  desktop/build.gradle
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Advance pc ui and getters, all except get chaine.
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/services/RestService.java
  server/common/include/common/database.hpp
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/src/admin_controller.cpp
  server/sql/createDb.sql
Due: build-server, build-desktop, test-server, test-desktop, lint-server

Put hour first and delay time.
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

Rearrange controller class and fix comments.
  desktop/build.gradle
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/services/CredentialsManager.java
  desktop/src/main/java/services/RestService.java
  server/common/include/common/token_helper.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

Fixes
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/services/CredentialsManager.java
  desktop/src/main/java/services/RestService.java
  server/common/src/database.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server

Everything is w o r k i n g g g
  android/app/build.gradle
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterStudentBottomFragment.kt
  android/app/src/main/res/drawable/ic_add_box_black_24dp.xml
  android/app/src/main/res/layout/add_student_bottom_panel.xml
  android/app/src/main/res/layout/bottom_button.xml
  android/app/src/main/res/layout/fragment_register_list.xml
  android/app/src/main/res/values/strings.xml
Due: build-android, test-android

Fix request for logs and map observable.
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

add typo
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

Ktlint
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterStudentBottomFragment.kt
Due: build-android, test-android

ktlint fix
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
Due: build-android, test-android

Start index at 1
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
Due: build-android, test-android

Fixed pdf name
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/activities/SidePanelActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/java/com/example/androidapp/fragments/search/SearchFragment.kt
  android/app/src/main/res/layout/bottom_button.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
Due: build-android, test-android

fix responses
  server/rest/src/info_controller.cpp
Due: build-server, test-server, lint-server

fix pr
  server/rest/src/transaction_controller.cpp
Due: build-server, test-server, lint-server

Fixed PR comments
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/androidapp/fragments/register/GradedStudentRecyclerViewAdapter.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
  android/app/src/main/res/layout/fragment_graded_student.xml
  android/app/src/main/res/layout/fragment_register_list.xml
Due: build-android, test-android

Unfixed some fixes
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/fragments/register/RegisterFragment.kt
Due: build-android, test-android

Forgot to uncomment
  android/app/src/main/java/com/example/androidapp/activities/MainActivity.kt
Due: build-android, test-android

Reorganize calls.
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/models/LogsResponse.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

dernier push
  server/common/src/database.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

Async requests and other fixes.
  desktop/build.gradle
  desktop/src/main/java/controllers/LoginController.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

Fix linter.
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

suivi
  suivi/rapport_semaine5.docx
Due: none

Add isAdmin column in users instead of admin db.
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/rest/src/admin_controller.cpp
  server/sql/createDb.sql
Due: build-server, test-server, lint-server

Fix order of logs.
  desktop/src/main/java/controllers/LogsViewer.java
  server/common/src/database.cpp
  server/rest/include/rest/admin_controller.hpp
  server/rest/src/admin_controller.cpp
Due: build-server, build-desktop, test-server, test-desktop, lint-server
