Repository camarois/blockchainApp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

build-server:
  stage: build
  before_script:
  - mkdir -p server/build
  script:
  - cd server/build && cmake .. && make
  artifacts:
    paths:
    - server/build

build-desktop:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle build
  artifacts:
    paths:
    - desktop/build

build-android:
  stage: build
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle build
  artifacts:
    paths:
    - android/build

test-server:
  stage: test
  script:
  - cd server/build && make test
  dependencies:
  - build-server

test-desktop:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.12.0-openjdk-amd64
  script:
  - cd desktop && gradle test
  dependencies:
  - build-desktop

test-android:
  stage: test
  before_script:
  - update-java-alternatives --set java-1.8.0-openjdk-amd64
  script:
  - cd android && gradle test
  dependencies:
  - build-android

lint-server:
  stage: lint
  script:
  - cd server && ./lint.sh tidy && ./lint.sh format

add https to android
  android/app/src/main/assets/rootCA.crt
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestRequestService.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/RestServiceModule.kt
Due: build-android, test-android

run lint
  android/app/src/main/java/com/example/androidapp/ui/MainActivity.kt
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
Due: build-android, test-android

log text reader
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/logs.txt
Due: build-desktop, test-desktop

fxml
  desktop/src/main/resources/views/LogEntry.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

listview linked
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

fix lint
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
Due: build-android, test-android

fix lint again
  android/app/src/main/java/com/example/androidapp/ui/rest/HTTPRestClient.kt
Due: build-android, test-android

ca marche mais c'est laitte
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/LogEntry.fxml
Due: build-desktop, test-desktop

change gitlab build to run with build.sh and ninja
  .gitlab-ci.yml
Due: build-server, build-desktop, build-android, test-server, test-desktop, test-android, lint-server

ca marche
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/logs.txt
  desktop/src/main/resources/views/LogEntry.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

Redo avec tableview, 100x mieux
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/logs.txt
  desktop/src/main/resources/views/LogEntry.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

add starter code for javafx https
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/values/strings.json
  desktop/src/main/resources/views/application.fxml
  docker/Dockerfile
Due: build-desktop, test-desktop

server/miner: throw exception if block can't be loaded from file
  server/miner/src/block.cpp
Due: build-server, test-server, lint-server

server/tests: create some filesystem utility functions
  server/tests/CMakeLists.txt
  server/tests/block_test.cpp
  server/tests/utils.cpp
  server/tests/utils.hpp
Due: build-server, test-server, lint-server

server/miner: write most of the blockchain loading
  server/miner/include/miner/blockchain.hpp
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

server/tests: test blockchain loading
  server/tests/CMakeLists.txt
  server/tests/blockchain_test.cpp
  server/tests/data/blockchain/load-from-file/420
  server/tests/data/blockchain/load-from-file/metadata
  server/tests/data/blockchain/load-with-mismatch-id/420
  server/tests/data/blockchain/load-with-mismatch-id/metadata
  server/tests/data/blockchain/load-with-missing-block/metadata
  server/tests/data/blockchain/load-without-metadata/420
Due: build-server, test-server, lint-server

server: ignore CCLS caches
  server/.gitignore
Due: build-server, test-server, lint-server

server: format files
  server/miner/src/blockchain.cpp
  server/tests/blockchain_test.cpp
  server/tests/utils.cpp
Due: build-server, test-server, lint-server

server: fix a small linting issue
  server/miner/src/blockchain.cpp
Due: build-server, test-server, lint-server

.gitignore changement
  desktop/.gitignore
  desktop/.idea/checkstyle-idea.xml
  desktop/.idea/codeStyles/codeStyleConfig.xml
  desktop/.idea/compiler.xml
  desktop/.idea/misc.xml
  desktop/.idea/vcs.xml
Due: build-desktop, test-desktop

server/miner: remove prefixes in Block class
  server/miner/include/miner/block.hpp
  server/miner/include/miner/blockchain.hpp
  server/miner/src/block.cpp
  server/miner/src/blockchain.cpp
  server/tests/block_test.cpp
  server/tests/blockchain_test.cpp
Due: build-server, test-server, lint-server

fix pour pr
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LogsViewer.java
  desktop/src/main/resources/views/Login.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
Due: build-desktop, test-desktop

dynamic scaling
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/resources/views/Login.fxml
  desktop/src/main/resources/views/LogsViewer.fxml
  desktop/src/main/resources/views/TopMenuBar.fxml
Due: build-desktop, test-desktop

Fix format errors
  server/common/include/common/database.hpp
  server/common/include/common/sqlite_err.hpp
  server/common/src/database.cpp
  server/common/src/sqlite_err.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

working version with CA!!!!! On all platforms heell yeahhhhh
  desktop/src/main/java/Main.java
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/java/services/RestService.java
  desktop/src/main/resources/cert/rootCA.crt
Due: build-desktop, test-desktop

fix lint
  desktop/config/checkstyle/checkstyle.xml
  desktop/src/main/java/Main.java
  desktop/src/main/java/constants/ServerUrls.java
  desktop/src/main/java/controllers/Application.java
  desktop/src/main/java/services/RestService.java
Due: build-desktop, test-desktop

remove topmenu
  desktop/src/main/java/controllers/Login.java
Due: build-desktop, test-desktop

remove dead code
  server/rest/src/main_controller.cpp
Due: build-server, test-server, lint-server

modif docker file again
  docker/Dockerfile
Due: none

todo
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

Add suivi2 file.
  suivi/rapport_semaine2.docx
Due: none

Add datbase.sh creation file that deals with initialization, backups and overwriting.
  server/.gitignore
  server/database.sh
  server/sql/database.sql
Due: build-server, test-server, lint-server

Clang and corrections.
  server/common/include/common/database.hpp
  server/common/include/common/sqlite_err.hpp
  server/common/src/database.cpp
  server/common/src/sqlite_err.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

Switched pointer to unique pointer for sqlite db.
  server/common/include/common/database.hpp
  server/common/src/database.cpp
  server/tests/database_test.cpp
Due: build-server, test-server, lint-server

change files to flags
  server/miner/miner.cpp
  server/rest/src/main_controller.cpp
Due: build-server, test-server, lint-server

fix pr
  desktop/src/main/java/Main.java
  desktop/src/main/java/controllers/Login.java
  desktop/src/main/java/controllers/LogsViewer.java
Due: build-desktop, test-desktop

yio
  desktop/src/main/java/Main.java
Due: build-desktop, test-desktop

fix
  desktop/src/main/java/Main.java
Due: build-desktop, test-desktop

Path conditions:
  build-server: any of: server/**/*, .gitlab-ci.yml
  build-desktop: any of: desktop/**/*, .gitlab-ci.yml
  build-android: any of: android/**/*, .gitlab-ci.yml
  test-server: any of: server/**/*, .gitlab-ci.yml
  test-desktop: any of: desktop/**/*, .gitlab-ci.yml
  test-android: any of: android/**/*, .gitlab-ci.yml
  lint-server: any of: server/**/*, .gitlab-ci.yml
